{% extends 'crmapp/base.html' %}


{% block content %}
<body class="bg-body-secondary">
<div class=" d-flex justify-content-center">
    <div class="d-flex p-4" style="height: 600px;">
        <div class="vr"></div>
      </div>
<div class="card p-3 mb-3 w-50 rounded" style="width: 18rem;">
    <strong>
{% comment %} upper filter used to capitalize the name {% endcomment %}
        <div class='font-monospace'>
            {{customer_data.last_name|upper}}      
            {{customer_data.first_name|upper}}
        </div>
    </strong>
    <hr>
    <div class="card-body">
      <h5 class="card-title">{{customer_data.last_name}}'s Details</h5>
      <p class="card-text"><strong>ID:</strong>{{customer_data.id}}</p>
      <p class="card-text"><strong>EMAIL:</strong>{{customer_data.email}}</p>
      <p class="card-text"><strong>PHONE NUMBER:</strong>{{customer_data.phone}}</p>
      <p class="card-text"><strong>ADDRESS:</strong>{{customer_data.address}}</p>
      <p class="card-text"><strong>STATE:</strong>{{customer_data.state}}</p>
      <p class="card-text"><strong>CITY:</strong>{{customer_data.city}}</p>
      <p class="card-text"><strong>CREATION DATE:</strong>{{customer_data.created_date}}</p>
      <a href="{% url 'dashboard' %}" class="btn btn-primary rounded font-monospace"><i class="fa fa-long-arrow-left" aria-hidden="true"></i>Dashboard</a> &nbsp;
      <a href="{% url 'updateRecord' customer_data.id %}" class="btn btn-success rounded font-monospace">Update Record<i class="fa fa-pencil-square-o" aria-hidden="true"></i></a> &nbsp;
      <a href="{% url 'delete-record' customer_data.id %}" class="btn btn-danger rounded font-monospace">Delete Record<i class="fa fa-trash-o" aria-hidden="true"></i></a>
    </div>
  </div>
  <div class="d-flex p-4" style="height: 600px;">
    <div class="vr"></div>
  </div>
</div>

</body>
{% endblock %}
